@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-wine-pattern {
  background: url("./img/fondo-patron-fibra.png");
}

::selection {
  background: #c25866; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #c25866; /* Gecko Browsers */
}

#menu-toggle:checked + #menu {
  display: block;
}
